body {
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

#flex-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  height: 100%;
}

.head {
  height: 50%;
}

.foot {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 50%;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* html, */
/* body {
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
} */

/* #root {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
  align-content: stretch;
} */

/* .content {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  height: 100%;
} */
/* 
.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
} */
